/* auth.css */

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

h1, h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

input[type="radio"] {
  margin: 0 5px;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background-color: #00b4d8;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 5px;
}

button:hover {
  background-color: #0077b6;
}

a {
  color: #90e0ef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.remember-forgot,
.register-link {
  margin-top: 15px;
  font-size: 14px;
}


.password-box {
  position: relative;
}

.password-box input {
  width: 100%;
}

.password-box button {
  position: absolute;
  top: 30%;
  right: -30px;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #000000;
}